#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 1.3rem;
}

body {
  place-items: normal;
}

option {
  -webkit-appearance: none; /* 브라우저 기본 스타일 제거 */
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

select {
  position: relative;
}