#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 1.3rem;
}

body {
  place-items: normal;
}

select option {
  /* 옵션 목록에 위치를 조정할 때 */
  position: absolute;
  top: 100px; /* 원하는 위치 */
  left: 50px; /* 원하는 위치 */
  transform: translateY(-50%); /* 중앙 정렬 */
  font-size: 2rem;
}